<body>
  <main class="wrapper">
    <div class="container">
      <div class="row">
        <form action="" class="col-md-8 col-sm-12 pe-0">
          <div class="row p-5">
            <h3 class="fw-light mb-4">BİZE ULAŞIN</h3>
            <div class="col-md-6">
              <label class="form-label" for="name">AD</label>
              <input
                class="form-control form-in"
                type="text"
                name="AD"
                id="name"
                placeholder="AD"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label surname" for="surname">SOYAD</label>
              <input
                class="form-control form-in"
                type="text"
                name="SOYAD"
                id="surname"
                placeholder="SOYAD"
              />
            </div>
          </div>
          <div class="px-5">
            <label class="form-label mt-3" for="başlık">BAŞLIK</label>
            <input
              class="form-control form-in"
              type="text"
              name="BAŞLIK"
              id="başlık"
              placeholder="BAŞLIK"
            />
            <label class="form-label mt-3" for="açıklama">AÇIKLAMA</label>
            <textarea
              class="form-control form-in mb-3"
              cols="30"
              rows="5"
              name="AÇIKLAMA"
              id="açıklama"
            >
AÇIKLAMA</textarea
            >
            <label for="file" class="upload"><i class="fa-solid fa-folder-plus fs-2 ms-1 "></i></label>
            <input type="file" name="file" id="file" class="ms-2 disp" />
            
          </div>
          <button
            type="submit"
            class="btn btn-success my-3 mx-5"
            value="Send Message"
          >
            GÖNDER
          </button>
        </form>
        <iframe
          class="col-md-4 col-sm-12 p-0 h-auto"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d796.0189111720946!2d27.36823697858586!3d37.05568050708749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14be6d6f255e01e5%3A0x16f559992858b2cf!2snida%20aluminyum%20a.%C5%9F!5e0!3m2!1str!2str!4v1665650366691!5m2!1str!2str"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="row footer">
        <div class="col-md-3 col-sm-6 text-center">
          <i class="fa-solid fa-location-dot fs-1 text-dark mb-3"></i>
          <p>Adres: Konacık, Atatürk Blv. no:293 b D:2, 48400 Bodrum/Muğla</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <i class="fa-solid fa-phone fs-1 text-dark mb-3 d-block"></i>
          <span>Telefon: </span>
          <a href="tel: //+90 (546) 850 6579">+90 (546) 850 6579</a>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <i class="fa-solid fa-paper-plane fs-1 text-dark mb-3 d-block"></i>
          <a href="mailto:info@nidaaluminyum.com">Email: info@nidaaluminyum.com</a>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <i class="fa-solid fa-earth-europe fs-1 text-dark mb-3"></i>
          <a class="d-block" href="#">NidaAluminyum</a>
        </div>
      </div>
    </div>
  </main>
</body>
