<body>
  <div class="about d-flex flex-column">
    <h3 class="header">Hakkımızda</h3>
    <p class="about-article p-4">
      2001 yılında Samsun’da faaliyetlerine başlayan Nida Alüminyum A.Ş., 1991
      yılından beri sektörde kalite anlayışı, insana ve çevreye olan saygısı,
      dürüstlüğü ile tanınan, başarılı iş adamı Orkun Şardağ tarafından
      kurulmuştur. Nida Alüminyum kurulduğu yıl itibariyle giydirme cephe ve
      kapı & pencere sistemleri, alüminyum kompozit panel, kış bahçeleri, güneş
      kırıcılar, solar sistemler, otomatik panjur ve garaj kapısı sistemleri,
      fotoselli otomatik kapı sistemleri uygulamaları ile kısa sürede sektörde
      kendine önemli bir yer edinmiştir. Hızlı bir ivmeyle gelişen şirket 2009
      yılında faaliyetlerini Bodrum’a taşımış, 2015 yılında da güven ve kalite
      anlayışı neticesinde anonim şirket haline gelmiştir. Sadece Bodrum’a
      değil; tüm Ege Bölgesi’ne yönelik çalışmalar yürüten Nida Alüminyum A.Ş.,
      villalar, konut siteleri, residance’lar, turizm tesistleri, kamu
      kuruluşları, bankalar, iş merkezleri ve eğitim kurumları üzerinden sayısız
      projeye imza atmıştır. Yurt içi pazarındaki konumunu her geçen gün
      yükselerek devam ettiren şirket, 2006-2008 yıllarında Bakü-Azerbaycan’da
      plaza, park ve idari binaların projelerinde yer alarak yurt dışı
      pazarlarda da varlığını sürdürmüştür. <br /><br />
      Alanında birinci sınıf ürünlere imza atan dünya markaları ile çalışarak
      kalite ve müşteri memnuniyetinden ödün vermemeyi ilke edinen Nida
      Alüminyum A.Ş çalışma sistemini uzmanlık, güven, dürüstlük ve empati
      ilkelerine dayandırmaktadır. Şirketin sektörde bugün geldiği nokta, bu
      ilkeli çalışmanın eseridir. Hayallerinizdeki yaşam ve çalışma alanlarının
      bir adım ötesini yaşamınıza yerleştirmek için her gün kendi kalitesiyle
      yarışan Nida Alüminyum A.Ş. yaşama sizin için sizin gözünüzden bakmaya
      devam edecek, sizin için sizin mutluluğunuza yakışır çözümler üretmek için
      çalışacaktır.
      <br /><br />
      Konusunun uzmanlarından oluşan güçlü ekibi ile, maksimum kalite & minimum
      maliyet anlayışına sahip çıkarak, bir çok başarılı projeye imza atan Nida
      Alüminyum A.Ş.’nin sağladığı başlıca ürün ve hizmetler şu şekildedir:

      <span class="d-block mt-4"
        >- Alüminyum Doğrama ve Korkuluk Üretimi ve Uygulamaları</span
      >
      <span class="d-block mt-4"
        >- Alüminyum Cephe Sistemleri Uygulamaları
      </span>
      <span class="d-block mt-4"
        >- Otomatik Panjur ve Kapı Sistemleri Uygulamaları
      </span>
      <span class="d-block mt-4">- Cam Paraduş Sistemleri.</span>

      <br /><br />
      Kuruldukları günden bu güne “Yaşama sizin için, sizin gözünüzden bakmaya
      devam ediyoruz” sloganıyla yol aldıklarını belirten Nida Alüminyum
      A.Ş.’nin kurucusu Orkun Şardağ; “Hayallerinizdeki yaşam ve çalışma
      alanlarının bir adım ötesini yaşamınıza yerleştirmek için her gün kendi
      kalitemizle yarışıyoruz. Bu nedenle kurulduğumuz ilk günden, bu yana
      sürdürdüğümüz, sloganımızla örtüşen, bize yakışan, sizlerin hak ettiği
      kalite ve mutluluğunuza yakışır çözümler üretmek için kendimizle yarışmaya
      devam edeceğiz” diyerek, Nida Alüminyum A.Ş. olarak mevcudiyetleri devam
      ettiği müddetçe, verdikleri kaliteli hizmet ve güvenin artarak devam
      edeceğini vurguluyor. Haberin tamamı için
      <span
        ><a
          target="_blank"
          class="text-dark"
          href="https://www.bodrumguncelhaber.com/nida-aluminyum-yeni-tesislerini-hizmete-acti/"
          ><i class="fa-regular fa-hand-point-right me-1"></i>Tıklayınız</a
        ></span
      >
    </p>
  </div>
  <div class="btn-group footer">
    <ul class="">
      <li class="dropdown-item text-center">
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac"
          href="https://instagram.com/nida_aluminyum?igshid=YmMyMTA2M2Y="
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li class="dropdown-item text-center">
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca"
          href="https://www.linkedin.com/in/nida-aluminyum-b94603220"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
    </ul>
  </div>
</body>
