body {
  background: linear-gradient(
    -45deg,
    rgba(128, 128, 128, 0.745),
    #246196d4,
    rgba(128, 128, 128, 0.461),
    #ffff
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 150vh;
}
a {
  text-decoration: none;
}
nav {
  position: fixed top;
  margin-bottom: 50px !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  color: rgba(255, 255, 255, 0.686);
  position: absolute;
  top: 2vh;
  left: 4.5vh;
  font-weight: 300;
  font-family: monospace;
  font-size: 4vh;
}

.about {
  position: absolute;
  top: 30vh;
  left: 5vh;
  right: 5vh;
  margin: auto;
}

.about-article {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 200;
  font-size: 2.2vh;
  padding-top: 9vh !important;
  padding-left: 10vh;
  padding-right: 10vh;
}

.dialog {
  position: relative;
  top: 100vh;
}

.footer {
  position: sticky;
  left: 205vh;
  top: 25vh;
}
/* Responsive Design */

@media only screen and (max-width: 1910px) {
  body {
    height: 170vh;
  }
  .about-article,
  .about-article-2 {
    font-size: 2vh;
  }
}
@media only screen and (max-width: 1300px) {
  body {
    height: 320vh;
  }
  .about-article,
  .about-article-2 {
    font-size: 1.5vh;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    font-size: 3vh !important;
    text-align: left !important;
  }
}
