  <div class="container pb-5 mb-sm-1" style="position: relative; top: 200px">
    <h2 class="text-center header-1">Devam Eden Projeler</h2>

    <div class="row">
      <div class="col-md-6 col-sm-8 pt-3">
        <div class="card border-0">
          <a
            class="card-img-tiles"
            
          >
            <div class="main-img">
              <img
                [src]="products.imageUrl"
                alt="Clothing"
                class="h-100"
              />
            </div>
            <div class="thumblist">
              <img
              [src]="products_2.imageUrl"

                alt="Clothing"
              /><img
              [src]="products_3.imageUrl"

                alt="Clothing"
              />
            </div>
          </a>
          <div class="card-body border mt-n1 py-4 text-center">
            <h2 class="h5 mb-1">Regnum Escana Bodrum</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold"></span
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 pt-3">
        <div class="card border-0">
          <a class="card-img-tiles" href="">
            <div class="main-img">
              <img
                src="../assets/Completed-Projects/Marti-la.jpg"
                alt="Clothing"
                class="h-100"
              />
            </div>
            <div class="thumblist">
              <img
                src="../assets/Completed-Projects/marti-la-2.jpg"
                alt="Clothing"
              /><img
                src="../assets/Completed-Projects/marti-la-3.jpg"
                alt="Clothing"
              />
            </div>
          </a>
          <div class="card-body border mt-n1 py-4 text-center">
            <h2 class="h5 mb-1">MARTI La Perla Hotel Marmaris</h2>
            <span class="d-block mb-3 font-size-xs text-muted"> </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 pt-3">
        <div class="card border-0">
          <a class="card-img-tiles" href="">
            <div class="main-img">
              <img
                src="../assets/Completed-Projects/manastır.jpg"
                alt="Clothing"
                class="h-100"
              />
            </div>
            <div class="thumblist">
              <img
                src="../assets/Completed-Projects/manastır-2.jpg"
                alt="Clothing"
              /><img
                src="../assets/Completed-Projects/manastır-3.jpg"
                alt="Clothing"
              />
            </div>
          </a>
          <div class="card-body border mt-n1 py-4 text-center">
            <h2 class="h5 mb-1">Manastır Hotel Bodrum</h2>
            <span class="d-block mb-3 font-size-xs text-muted"> </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 pt-3">
        <div class="card border-0">
          <a class="card-img-tiles" href="">
            <div class="main-img">
              <img
                src="../assets/Completed-Projects/Soul-Of-Bodrum.jpg"
                alt="Clothing"
                class="h-100"
              />
            </div>
            <div class="thumblist">
              <img
                src="../assets/Completed-Projects/soul_of_bodrum-2.jpg"
                alt="Clothing"
              /><img
                src="../assets/Completed-Projects/soul_of_bodrum-3.jpg"
                alt="Clothing"
              />
            </div>
          </a>
          <div class="card-body border mt-n1 py-4 text-center">
            <h2 class="h5 mb-1">Soul Of Bodrum</h2>
            <span class="d-block mb-3 font-size-xs text-muted"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
