<nav class="navbar navbar-expand-lg bg-light" id="nav-list">
  <a class="navbar-brand ms-4 mb-4" routerLink="nidaaluminyum"
    ><img id="logo" src="../assets/logoN.png" alt="Logo"
  /></a>
  <div class="navbar-group-1 mb-4" id="nav-list-2">
    <button
      class="navbar-toggler me-3 bar"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end navbar-collapse offcanvas-2"
      tabindex="-1"
      aria-label="Close"
      id="navbarTogglerDemo03"
      aria-modal="true"
      role="dialog"
    >
      <div class="offcanvas-body navbar-collapse">
        <div class="off-canvas-header">
          <button
            type="button"
            class="btn-close btn-close-dark float-end"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <ul class="navbar-nav d-flex align-content-start flex-wrap pe-1 pt-4">
          <li class="nav-item ms-3 borders">
            <a routerLink="hakkimizda" class="nav-link text-light hov"
              ><i class="fa-solid fa-address-card "></i>Hakkımızda</a
            >
          </li>
          <li class="nav-item ms-3 borders dropdown">
            <a
              class="nav-link text-light hov dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Projeler</a
            >
            <ul class="dropdown-menu dropdown-menu-light">
              <li class="p-2">
                <a
                  routerLink="tamamlanan-projeler"
                  class="dropdown-item text-success"
                  href="#"
                  >Tamamlanan Projeler</a
                >
              </li>
              <li class="p-2">
                <a routerLink="projeler" class="dropdown-item" href="#"
                  >Devam Eden Projeler</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item ms-3 borders dropdown">
            <a
              routerLink="urunler"
              class="nav-link text-light hov dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Markalar</a
            >
            <ul class="dropdown-menu dropdown-menu-light">
              <li class="p-2">
                <a class="dropdown-item text-success" href="#"
                  >Tamamlanan Projeler</a
                >
              </li>
              <li class="p-2">
                <a class="dropdown-item" href="#">Devam Eden Projeler</a>
              </li>
            </ul>
          </li>
          <li class="nav-item ms-3 borders">
            <a routerLink="vizyon-misyon" class="nav-link text-light hov"
              >Vizyon&Misyon</a
            >
          </li>
          <li class="nav-item ms-3 borders">
            <a routerLink="bize-ulasin" class="nav-link text-light hov"
              >Bize Ulaşın</a
            >
          </li>

          <li class="nav-item fs-2 ms-3 borders">
            <a href="" class="nav-link text-light nida-design fs-4"
              ><i class="fa-solid fa-swatchbook me-2"></i>Nida Tasarım</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
