<img class="background" alt="" />
<main class="container row">
  <div class="col-lg-6 mt-5">
    <h2>Vizyon</h2>
    <article>
      Müşterilerimize ilham vermek için buradayız. Bunu, stratejimizi
      uygulayarak ve işimize acımasızlık noktasında bir öncelik verip
      müşterilerimizi memnun eden sade ve zarif bir tasarım yaratarak uzun lafın
      kısası rakipsiz bir hizmet sunarak yapıyoruz. Her gün, engelleri yıkmak,
      yeni pazarlar inşa etmek ve imkansızlıkları aşmak için tüm ekip ve
      gruplarımızla bir araya gelerek güçlerimizi birleştiriyoruz.
    </article>
  </div>
  <div class="col-lg-6 col-sm-12 mt-5">
    <h2>Misyon</h2>
    <article>
      İnsanların kendi projelerinin kolayca tasarlanması, güvenle yaratılması ve
      başarılı bir şekilde uygulanması için yardımcı olarak onlara mükemmel ve
      dayanıklı tasarımları sunacağız.
    </article>
  </div>
  <div class="container footer">
    <footer class="">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a routerLink="/nidaaluminyum" class="nav-link px-2 text-muted"
            >Ana Sayfa</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/vizyon-misyon" class="nav-link px-2 text-muted"
            >Vizyon & Misyon</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/urunler" class="nav-link px-2 text-muted">Ürünler</a>
        </li>

        <li class="nav-item">
          <a routerLink="/bize-ulasin" class="nav-link px-2 text-muted"
            >Bize Ulaşın</a
          >
        </li>
      </ul>
      <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
  </div>
</main>
