<body>
  <img class="background" alt="" />
  <main class="container-fluid pb-5">
    <div class="row  products text-center">
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/velux.jpg" alt="" /></a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/albert.jpg" alt="" /></a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/alfore.jpg" alt="" /></a>
      </div>
    </div>
    <div class="row  products text-center">
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/alumil.jpg" alt="" /></a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/iq-aluminyum.jpg" alt="" /></a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href=""><img src="assets/Brands/linea.jpg" alt="" /></a>
      </div>
    </div>
    <div class="row  products text-center">
      <div class="col-lg-4 col-sm-6">
        <a href=""><img src="assets/Brands/rehau.jpg" alt="" /></a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href=""><img src="assets/Brands/reynaers.jpg" alt="" /></a>
      </div>
    </div>
  </main>
</body>
<div class="container footer">
  <footer class="">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="/nidaaluminyum" class="nav-link px-2 text-muted"
          >Ana Sayfa</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/vizyon-misyon" class="nav-link px-2 text-muted"
          >Vizyon & Misyon</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/urunler" class="nav-link px-2 text-muted">Ürünler</a>
      </li>

      <li class="nav-item">
        <a routerLink="/bize-ulasin" class="nav-link px-2 text-muted"
          >Bize Ulaşın</a
        >
      </li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
  </footer>
</div>
